@import "./Styles.view.less";

* {
    margin: 0px;
    padding: 0px;

    cursor: default;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

////////////
// Fonts //
//////////

@font-face {
    font-family: tarot;
    src: url("../fonts/tarot.ttf") format("truetype");
}

/////////////
// Styles //
///////////

body {
    background-color: #111;
}

.Mount {
    padding: 1em;

    color: @white;
    font-family: Roboto, Helvetica, sans-serif;
}

.Card {
    @border-width: 0.3em;

    font-size: 1.2em;

    width: 8em;
    height: 12em;
    padding: @border-width;
    display: inline-block;
    margin-right: 1em;

    border-width: @border-width;
    border-color: @gold;
    border-style: solid;
    border-radius: 0.25em;
    color: @white;
    background-color: @black;

    .Content {
        border-width: 0.1em;
        border-color: @gold;
        border-style: solid;
        border-radius: 0.1em;

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .Name {
            font-size: 1.33em;
            text-align: center;
            font-family: tarot;
        }

        .Symbol {
            font-size: 4em;
            text-align: center;
        }
    }
}
